<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SysteMedica</title>
    <!-- renderiza o mais próximo do tamanho físico dos celulares -->
    <!-- link rel="stylesheet" href="Colocar o nome do arquivo css" -->
</head>
<body>
    <header>
        <h1>SysteMedica</h1>
        <div>
            <label for="Login">Login</label>
        </div>
    </header>


    <footer> <!-- configura a area do rodapé -->

    </footer>


</body>
</html>